# Add trial labels

Brief 1-2 sentence description of notebook.

In [1]:
import os
import glob
import git
import sys

In [2]:
# Imports of all used packages and libraries
import numpy as np
import pandas as pd
# import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import h5py
from scipy.interpolate import interp1d
from scipy.signal import savgol_filter

In [3]:
git_repo = git.Repo(".", search_parent_directories=True)
git_root = git_repo.git.rev_parse("--show-toplevel")

In [4]:
git_root

'/nancy/projects/reward_competition_extention'

In [5]:
sys.path.insert(0, os.path.join(git_root, 'src'))

In [6]:
# sns.set('notebook', 'ticks', font_scale=1.2)
mpl.rcParams['figure.figsize'] = [15,6]

## Functions

## Inputs & Data

Explanation of each input and where it comes from.

## Outputs

Describe each output that the notebook creates.

- Is it a plot or is it data?

- How valuable is the output and why is it valuable or useful?

In [7]:
# Inputs and Required data loading
# input varaible names are in all caps snake case
# Whenever an input changes or is used for processing 
# the vairables are all lower in snake case
OUTPUT_DIR = r"./proc/" # where data is saved should always be shown in the inputs
os.makedirs(OUTPUT_DIR, exist_ok=True)
OUTPUT_PREFIX = "rce_pilot_2"

In [8]:
FULL_LFP_TRACES_PKL = "{}_03_spectral_trial_labels.pkl".format(OUTPUT_PREFIX)

## Processing

In [9]:
subject_start_stop_frames = pd.read_excel("rce_per_subject_start_stop_video_frame.xlsx")
subject_start_stop_frames = subject_start_stop_frames.dropna(subset=["file_path"])

In [10]:
subject_start_stop_frames["sleap_name"] = subject_start_stop_frames["file_path"].apply(lambda x: os.path.basename(x))
subject_start_stop_frames["video_name"] = subject_start_stop_frames["file_path"].apply(lambda x: ".".join(os.path.basename(x).split(".")[:2]))
subject_start_stop_frames["start_frame"] = subject_start_stop_frames["start_frame"].astype(int)
subject_start_stop_frames["stop_frame"] = subject_start_stop_frames["stop_frame"].astype(int)

In [11]:
subject_start_stop_frames = subject_start_stop_frames.drop(columns=["file_path", "notes", "in_video_subjects"], errors="ignore")

In [12]:
subject_start_stop_frames["video_name"].unique()

array(['20221214_125409_om_and_comp_6_1_and_6_3.1',
       '20221215_145401_comp_amd_om_6_1_and_6_3.1',
       '20230617_115521_standard_comp_to_omission_D1_subj_1-1_and_1-2.1',
       '20230617_115521_standard_comp_to_omission_D1_subj_1-1_and_1-2.3',
       '20230618_100636_standard_comp_to_omission_D2_subj_1-4_and_1-1.1',
       '20230618_100636_standard_comp_to_omission_D2_subj_1-4_and_1-1.2',
       '20230619_115321_standard_comp_to_omission_D3_subj_1-2_and_1-4.3',
       '20230619_115321_standard_comp_to_omission_D3_subj_1-2_and_1-4.4',
       '20230620_114347_standard_comp_to_omission_D4_subj_1-2_and_1-1.1',
       '20230620_114347_standard_comp_to_omission_D4_subj_1-2_and_1-1.2',
       '20230621_111240_standard_comp_to_omission_D5_subj_1-4_and_1-2.1',
       '20230621_111240_standard_comp_to_omission_D5_subj_1-4_and_1-2.2',
       '20230612_112630_standard_comp_to_training_D1_subj_1-2_and_1-1.1',
       '20230612_112630_standard_comp_to_training_D1_subj_1-2_and_1-1.2',
       '20230613_105657_standard_comp_to_training_D2_subj_1-1_and_1-4.1',
       '20230613_105657_standard_comp_to_training_D2_subj_1-1_and_1-4.2',
       '20230614_114041_standard_comp_to_training_D3_subj_1-1_and_1-2.1',
       '20230614_114041_standard_comp_to_training_D3_subj_1-1_and_1-2.2',
       '20230614_114041_standard_comp_to_training_D3_subj_1-1_and_1-2.3',
       '20230616_111904_standard_comp_to_training_D4_subj_1-4_and_1-2.1',
       '20230616_111904_standard_comp_to_training_D4_subj_1-4_and_1-2.2',
       '20230622_110832_standard_comp_to_both_rewarded_D1_subj_1-1_and_1-2.1',
       '20230623_114932_standard_comp_to_both_rewarded_D2_subj_1-4_and_1-1.1',
       '20230623_114932_standard_comp_to_both_rewarded_D2_subj_1-4_and_1-1.2',
       '20230624_105855_standard_comp_to_both_rewarded_D3_subj_1-2_and_1-4.1',
       '20230625_112913_standard_comp_to_both_rewarded_D4_subj_1-1_and_1-4.1'],
      dtype=object)

In [13]:
subject_start_stop_frames.head()

,start_frame,stop_frame,tracked_subject,sleap_name,video_name
1,1,25000,6.3,20221214_125409_om_and_comp_6_1_and_6_3.1.fixe...,20221214_125409_om_and_comp_6_1_and_6_3.1
2,27500,73600,6.1_6.3,20221214_125409_om_and_comp_6_1_and_6_3.1.fixe...,20221214_125409_om_and_comp_6_1_and_6_3.1
3,51500,76454,6.3,20221215_145401_comp_amd_om_6_1_and_6_3.1.fixe...,20221215_145401_comp_amd_om_6_1_and_6_3.1
4,1,48500,6.1_6.3,20221215_145401_comp_amd_om_6_1_and_6_3.1.fixe...,20221215_145401_comp_amd_om_6_1_and_6_3.1
5,41000,79050,1.1,20230617_115521_standard_comp_to_omission_D1_s...,20230617_115521_standard_comp_to_omission_D1_s...

In [14]:
subject_start_stop_frames["current_subject"] = subject_start_stop_frames["tracked_subject"].apply(lambda x: str(x).split("_"))

In [15]:
subject_start_stop_frames = subject_start_stop_frames.explode("current_subject")

In [16]:
subject_start_stop_frames.head()

,start_frame,stop_frame,tracked_subject,sleap_name,video_name,current_subject
1,1,25000,6.3,20221214_125409_om_and_comp_6_1_and_6_3.1.fixe...,20221214_125409_om_and_comp_6_1_and_6_3.1,6.3
2,27500,73600,6.1_6.3,20221214_125409_om_and_comp_6_1_and_6_3.1.fixe...,20221214_125409_om_and_comp_6_1_and_6_3.1,6.1
2,27500,73600,6.1_6.3,20221214_125409_om_and_comp_6_1_and_6_3.1.fixe...,20221214_125409_om_and_comp_6_1_and_6_3.1,6.3
3,51500,76454,6.3,20221215_145401_comp_amd_om_6_1_and_6_3.1.fixe...,20221215_145401_comp_amd_om_6_1_and_6_3.1,6.3
4,1,48500,6.1_6.3,20221215_145401_comp_amd_om_6_1_and_6_3.1.fixe...,20221215_145401_comp_amd_om_6_1_and_6_3.1,6.1

In [17]:
TRIAL_LABELS_DF = pd.read_excel("./rce_pilot_2_per_video_trial_labels.xlsx")
TRIAL_LABELS_DF = TRIAL_LABELS_DF.rename(columns={col: col.strip().lower() for col in TRIAL_LABELS_DF.columns})
TRIAL_LABELS_DF = TRIAL_LABELS_DF.dropna(subset=["condition"])
TRIAL_LABELS_DF["tone_start_timestamp"] = TRIAL_LABELS_DF["tone_start_timestamp"].astype(np.int64)
TRIAL_LABELS_DF["tone_stop_timestamp"] = TRIAL_LABELS_DF["tone_stop_timestamp"].astype(np.int64)
TRIAL_LABELS_DF["video_name"] = TRIAL_LABELS_DF["video_name"].apply(lambda x: ".".join(os.path.basename(x).split(".")[:2]))

TRIAL_LABELS_DF["tone_start_frame"] = TRIAL_LABELS_DF["tone_start_frame"].astype(int)
TRIAL_LABELS_DF["reward_start_frame"] = TRIAL_LABELS_DF["reward_start_frame"].astype(int)
TRIAL_LABELS_DF["tone_stop_frame"] = TRIAL_LABELS_DF["tone_stop_frame"].astype(int)


TRIAL_LABELS_DF = TRIAL_LABELS_DF.drop(columns=[col for col in TRIAL_LABELS_DF.columns if "unnamed" in col], errors="ignore")

In [18]:
TRIAL_LABELS_DF.head()

,video_name,tone_start_frame,reward_start_frame,tone_stop_frame,box_1_port_entry_frames,box_2_port_entry_frames,condition,competition_closeness,notes,experiment,session_dir,all_subjects,first_timestamp,last_timestamp,tone_start_timestamp,tone_stop_timestamp,box_1_port_entry_timestamps,box_2_port_entry_timestamps
1,20230612_101430_standard_comp_to_training_D1_s...,980,1060,1181,[1028 1031] [1149 1266],NaN,1.4,Subj 2 Only,NaN,standard,20230612_101430_standard_comp_to_training_D1_s...,"['1.3', '1.4']",8798886.0,77093151.0,982229,1182226,[1030229 1033226] [1151634 1269428],NaN
2,20230612_101430_standard_comp_to_training_D1_s...,3376,3456,3575,[3545 3545] [3547 3549] [3550 3554] [3554 3556...,NaN,1.3,Subj 1 Only,NaN,standard,20230612_101430_standard_comp_to_training_D1_s...,"['1.3', '1.4']",8798886.0,77093151.0,3382227,3582224,[3550827 3551624] [3553824 3555829] [3556426 3...,NaN
3,20230612_101430_standard_comp_to_training_D1_s...,5672,5752,5871,[5761 5762] [5762 5942],NaN,1.4,Subj 2 Only,NaN,standard,20230612_101430_standard_comp_to_training_D1_s...,"['1.3', '1.4']",8798886.0,77093151.0,5682225,5882222,[5771223 5772822] [5773422 5952622],NaN
4,20230612_101430_standard_comp_to_training_D1_s...,7468,7548,7668,[7632 7634] [7635 7665] [7665 7945],NaN,1.4,Subj 2 Only,NaN,standard,20230612_101430_standard_comp_to_training_D1_s...,"['1.3', '1.4']",8798886.0,77093151.0,7482224,7682221,[7647221 7648224] [7649024 7679421] [7680023 7...,NaN
5,20230612_101430_standard_comp_to_training_D1_s...,8566,8646,8765,[8678 8733] [8735 8975],NaN,1.4,Subj 2 Only,NaN,standard,20230612_101430_standard_comp_to_training_D1_s...,"['1.3', '1.4']",8798886.0,77093151.0,8582220,8782223,[8694220 8750020] [8750420 8992222],NaN

In [19]:
merged_df = pd.merge(subject_start_stop_frames, TRIAL_LABELS_DF, on="video_name", how="inner")

In [20]:
merged_df = merged_df.dropna(subset=["current_subject"])

merged_df = merged_df[(merged_df['tone_start_frame'] > merged_df['start_frame']) & (merged_df['tone_start_frame'] < merged_df['stop_frame'])]

In [21]:
merged_df = merged_df.drop(columns=["start_frame", "stop_frame"], errors="ignore")
merged_df = merged_df.drop(columns=["first_timestamp", "last_timestamp"], errors="ignore")
merged_df = merged_df.drop(columns=["box_1_port_entry_frames", "box_2_port_entry_frames"], errors="ignore")
merged_df = merged_df.drop(columns=['box_1_port_entry_timestamps', 'box_2_port_entry_timestamps'], errors="ignore")

In [22]:
merged_df = merged_df.sort_values(by=["session_dir", "current_subject", "tone_start_timestamp"]).reset_index(drop=True)

In [23]:
merged_df.columns

Index(['tracked_subject', 'sleap_name', 'video_name', 'current_subject',
       'tone_start_frame', 'reward_start_frame', 'tone_stop_frame',
       'condition', 'competition_closeness', 'notes', 'experiment',
       'session_dir', 'all_subjects', 'tone_start_timestamp',
       'tone_stop_timestamp'],
      dtype='object')

In [24]:
merged_df.head()

,tracked_subject,sleap_name,video_name,current_subject,tone_start_frame,reward_start_frame,tone_stop_frame,condition,competition_closeness,notes,experiment,session_dir,all_subjects,tone_start_timestamp,tone_stop_timestamp
0,1.1_1.2,20230612_112630_standard_comp_to_training_D1_s...,20230612_112630_standard_comp_to_training_D1_s...,1.1,1125,1205,1324,1.1,Subj 1 blocking Subj 2,NaN,standard,20230612_112630_standard_comp_to_training_D1_s...,"['1.1', '1.2']",1126742,1326741
1,1.1_1.2,20230612_112630_standard_comp_to_training_D1_s...,20230612_112630_standard_comp_to_training_D1_s...,1.1,3519,3599,3720,1.2,Subj 2 Only,NaN,standard,20230612_112630_standard_comp_to_training_D1_s...,"['1.1', '1.2']",3526740,3726740
2,1.1_1.2,20230612_112630_standard_comp_to_training_D1_s...,20230612_112630_standard_comp_to_training_D1_s...,1.1,5815,5895,6014,1.2,Subj 2 blocking Subj 1,NaN,standard,20230612_112630_standard_comp_to_training_D1_s...,"['1.1', '1.2']",5826740,6026737
3,1.1_1.2,20230612_112630_standard_comp_to_training_D1_s...,20230612_112630_standard_comp_to_training_D1_s...,1.1,7612,7692,7811,1.2,Subj 2 Only,NaN,standard,20230612_112630_standard_comp_to_training_D1_s...,"['1.1', '1.2']",7626736,7826735
4,1.1_1.2,20230612_112630_standard_comp_to_training_D1_s...,20230612_112630_standard_comp_to_training_D1_s...,1.1,8709,8789,8910,1.2,Subj 2 Only,NaN,standard,20230612_112630_standard_comp_to_training_D1_s...,"['1.1', '1.2']",8726734,8926734

In [25]:
non_competitive_labels = ['rewarded', 'omission', 'both_rewarded']

In [26]:
merged_df["current_subject"] = merged_df["current_subject"].astype(str)
merged_df["condition"] = merged_df["condition"].astype(str)

In [27]:
merged_df["trial_label"] = merged_df.apply(lambda x: x["condition"] if x["condition"] in non_competitive_labels else ("win" if x["condition"] == x["current_subject"] else "lose"), axis=1)

In [28]:
merged_df

,tracked_subject,sleap_name,video_name,current_subject,tone_start_frame,reward_start_frame,tone_stop_frame,condition,competition_closeness,notes,experiment,session_dir,all_subjects,tone_start_timestamp,tone_stop_timestamp,trial_label
0,1.1_1.2,20230612_112630_standard_comp_to_training_D1_s...,20230612_112630_standard_comp_to_training_D1_s...,1.1,1125,1205,1324,1.1,Subj 1 blocking Subj 2,NaN,standard,20230612_112630_standard_comp_to_training_D1_s...,"['1.1', '1.2']",1126742,1326741,win
1,1.1_1.2,20230612_112630_standard_comp_to_training_D1_s...,20230612_112630_standard_comp_to_training_D1_s...,1.1,3519,3599,3720,1.2,Subj 2 Only,NaN,standard,20230612_112630_standard_comp_to_training_D1_s...,"['1.1', '1.2']",3526740,3726740,lose
2,1.1_1.2,20230612_112630_standard_comp_to_training_D1_s...,20230612_112630_standard_comp_to_training_D1_s...,1.1,5815,5895,6014,1.2,Subj 2 blocking Subj 1,NaN,standard,20230612_112630_standard_comp_to_training_D1_s...,"['1.1', '1.2']",5826740,6026737,lose
3,1.1_1.2,20230612_112630_standard_comp_to_training_D1_s...,20230612_112630_standard_comp_to_training_D1_s...,1.1,7612,7692,7811,1.2,Subj 2 Only,NaN,standard,20230612_112630_standard_comp_to_training_D1_s...,"['1.1', '1.2']",7626736,7826735,lose
4,1.1_1.2,20230612_112630_standard_comp_to_training_D1_s...,20230612_112630_standard_comp_to_training_D1_s...,1.1,8709,8789,8910,1.2,Subj 2 Only,NaN,standard,20230612_112630_standard_comp_to_training_D1_s...,"['1.1', '1.2']",8726734,8926734,lose
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824,1.1_1.4,20230625_112913_standard_comp_to_both_rewarded...,20230625_112913_standard_comp_to_both_rewarded...,1.4,65186,65266,65386,both_rewarded,NaN,NaN,both_rewarded,20230625_112913_standard_comp_to_both_rewarded...,"['1.1', '1.4']",64304011,64504015,both_rewarded
825,1.1_1.4,20230625_112913_standard_comp_to_both_rewarded...,20230625_112913_standard_comp_to_both_rewarded...,1.4,66684,66764,66883,both_rewarded,NaN,NaN,both_rewarded,20230625_112913_standard_comp_to_both_rewarded...,"['1.1', '1.4']",65804029,66004033,both_rewarded
826,1.1_1.4,20230625_112913_standard_comp_to_both_rewarded...,20230625_112913_standard_comp_to_both_rewarded...,1.4,68680,68760,68879,both_rewarded,NaN,NaN,both_rewarded,20230625_112913_standard_comp_to_both_rewarded...,"['1.1', '1.4']",67804057,68004058,both_rewarded
827,1.1_1.4,20230625_112913_standard_comp_to_both_rewarded...,20230625_112913_standard_comp_to_both_rewarded...,1.4,70576,70656,70775,both_rewarded,NaN,NaN,both_rewarded,20230625_112913_standard_comp_to_both_rewarded...,"['1.1', '1.4']",69704075,69904080,both_rewarded
828,1.1_1.4,20230625_112913_standard_comp_to_both_rewarded...,20230625_112913_standard_comp_to_both_rewarded...,1.4,71574,71654,71774,both_rewarded,NaN,NaN,both_rewarded,20230625_112913_standard_comp_to_both_rewarded...,"['1.1', '1.4']",70704093,70904092,both_rewarded

In [29]:
merged_df.to_excel("rce2_finalized_trial_labels.xlsx", index=False)

# TODO
- Merge recording file name
- Make a dictionary of trial labels 
- Add box number to sheet

In [30]:
trodes_metadata_df = pd.read_pickle("./rce_pilot_2_00_trodes_metadata.pkl")
trodes_metadata_df["video_name"] = trodes_metadata_df["video_name"].apply(lambda x: ".".join(os.path.basename(x).split(".")[:2]))

In [31]:
trodes_metadata_df = trodes_metadata_df.drop(columns = ["first_timestamp", "last_timestamp", "tone_timestamps", "tone_frames"], errors="ignore")

In [32]:
trodes_metadata_df = trodes_metadata_df.drop(columns=["all_subjects"], errors="ignore")

In [33]:
trodes_metadata_df.head()

,session_dir,box_1_port_entry_frames,box_2_port_entry_frames,video_name,session_path,recording,current_subject,video_timestamps,box_1_port_entry_timestamps,box_2_port_entry_timestamps
0,20230612_101430_standard_comp_to_training_D1_s...,"[[490, 514], [518, 558], [558, 637], [638, 640...","[[33137, 33147], [33665, 33666], [33668, 33669...",20230612_101430_standard_comp_to_training_D1_s...,/scratch/back_up/reward_competition_extention/...,20230612_101430_standard_comp_to_training_D1_s...,1.3,"[-2, 1384, 2770, 4156, 4156, 5542, 6928, 6928,...","[[491029, 515227], [519426, 558629], [559427, ...","[[33082200, 33090003], [33565003, 33567000], [..."
1,20230612_101430_standard_comp_to_training_D1_s...,"[[490, 514], [518, 558], [558, 637], [638, 640...","[[33021, 33027], [33502, 33503], [33504, 33506...",20230612_101430_standard_comp_to_training_D1_s...,/scratch/back_up/reward_competition_extention/...,20230612_101430_standard_comp_to_training_D1_s...,1.3,"[-2, 1384, 2770, 4156, 4156, 5542, 6928, 6928,...","[[491029, 515227], [519426, 558629], [559427, ...","[[33082200, 33090003], [33565003, 33567000], [..."
2,20230612_101430_standard_comp_to_training_D1_s...,"[[490, 514], [518, 558], [558, 637], [638, 640...","[[33137, 33147], [33665, 33666], [33668, 33669...",20230612_101430_standard_comp_to_training_D1_s...,/scratch/back_up/reward_competition_extention/...,20230612_101430_standard_comp_to_training_D1_s...,1.4,"[-2, 1384, 2770, 4156, 4156, 5542, 6928, 6928,...","[[491029, 515227], [519426, 558629], [559427, ...","[[33082200, 33090003], [33565003, 33567000], [..."
3,20230612_101430_standard_comp_to_training_D1_s...,"[[490, 514], [518, 558], [558, 637], [638, 640...","[[33021, 33027], [33502, 33503], [33504, 33506...",20230612_101430_standard_comp_to_training_D1_s...,/scratch/back_up/reward_competition_extention/...,20230612_101430_standard_comp_to_training_D1_s...,1.4,"[-2, 1384, 2770, 4156, 4156, 5542, 6928, 6928,...","[[491029, 515227], [519426, 558629], [559427, ...","[[33082200, 33090003], [33565003, 33567000], [..."
4,20230612_112630_standard_comp_to_training_D1_s...,"[[192, 248], [389, 405], [916, 929], [929, 948...","[[33019, 33020], [33246, 33251], [33253, 33255...",20230612_112630_standard_comp_to_training_D1_s...,/scratch/back_up/reward_competition_extention/...,20230612_112630_standard_comp_to_training_D1_s...,1.1,"[1384, 2444, 2769, 4155, 5541, 6708, 6927, 831...","[[192745, 249350], [389747, 407142], [917544, ...","[[33037711, 33038706], [33264908, 33270313], [..."

In [34]:
final_trials_df = pd.merge(trodes_metadata_df, merged_df, on=["video_name", "current_subject", "session_dir"], how="inner")

In [35]:
final_trials_df

,session_dir,box_1_port_entry_frames,box_2_port_entry_frames,video_name,session_path,recording,current_subject,video_timestamps,box_1_port_entry_timestamps,box_2_port_entry_timestamps,...,reward_start_frame,tone_stop_frame,condition,competition_closeness,notes,experiment,all_subjects,tone_start_timestamp,tone_stop_timestamp,trial_label
0,20230612_112630_standard_comp_to_training_D1_s...,"[[192, 248], [389, 405], [916, 929], [929, 948...","[[33019, 33020], [33246, 33251], [33253, 33255...",20230612_112630_standard_comp_to_training_D1_s...,/scratch/back_up/reward_competition_extention/...,20230612_112630_standard_comp_to_training_D1_s...,1.1,"[1384, 2444, 2769, 4155, 5541, 6708, 6927, 831...","[[192745, 249350], [389747, 407142], [917544, ...","[[33037711, 33038706], [33264908, 33270313], [...",...,1205,1324,1.1,Subj 1 blocking Subj 2,NaN,standard,"['1.1', '1.2']",1126742,1326741,win
1,20230612_112630_standard_comp_to_training_D1_s...,"[[192, 248], [389, 405], [916, 929], [929, 948...","[[33019, 33020], [33246, 33251], [33253, 33255...",20230612_112630_standard_comp_to_training_D1_s...,/scratch/back_up/reward_competition_extention/...,20230612_112630_standard_comp_to_training_D1_s...,1.1,"[1384, 2444, 2769, 4155, 5541, 6708, 6927, 831...","[[192745, 249350], [389747, 407142], [917544, ...","[[33037711, 33038706], [33264908, 33270313], [...",...,3599,3720,1.2,Subj 2 Only,NaN,standard,"['1.1', '1.2']",3526740,3726740,lose
2,20230612_112630_standard_comp_to_training_D1_s...,"[[192, 248], [389, 405], [916, 929], [929, 948...","[[33019, 33020], [33246, 33251], [33253, 33255...",20230612_112630_standard_comp_to_training_D1_s...,/scratch/back_up/reward_competition_extention/...,20230612_112630_standard_comp_to_training_D1_s...,1.1,"[1384, 2444, 2769, 4155, 5541, 6708, 6927, 831...","[[192745, 249350], [389747, 407142], [917544, ...","[[33037711, 33038706], [33264908, 33270313], [...",...,5895,6014,1.2,Subj 2 blocking Subj 1,NaN,standard,"['1.1', '1.2']",5826740,6026737,lose
3,20230612_112630_standard_comp_to_training_D1_s...,"[[192, 248], [389, 405], [916, 929], [929, 948...","[[33019, 33020], [33246, 33251], [33253, 33255...",20230612_112630_standard_comp_to_training_D1_s...,/scratch/back_up/reward_competition_extention/...,20230612_112630_standard_comp_to_training_D1_s...,1.1,"[1384, 2444, 2769, 4155, 5541, 6708, 6927, 831...","[[192745, 249350], [389747, 407142], [917544, ...","[[33037711, 33038706], [33264908, 33270313], [...",...,7692,7811,1.2,Subj 2 Only,NaN,standard,"['1.1', '1.2']",7626736,7826735,lose
4,20230612_112630_standard_comp_to_training_D1_s...,"[[192, 248], [389, 405], [916, 929], [929, 948...","[[33019, 33020], [33246, 33251], [33253, 33255...",20230612_112630_standard_comp_to_training_D1_s...,/scratch/back_up/reward_competition_extention/...,20230612_112630_standard_comp_to_training_D1_s...,1.1,"[1384, 2444, 2769, 4155, 5541, 6708, 6927, 831...","[[192745, 249350], [389747, 407142], [917544, ...","[[33037711, 33038706], [33264908, 33270313], [...",...,8789,8910,1.2,Subj 2 Only,NaN,standard,"['1.1', '1.2']",8726734,8926734,lose
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
744,20230625_112913_standard_comp_to_both_rewarded...,"[[308, 312], [1165, 1194], [1557, 1571], [1643...",[],20230625_112913_standard_comp_to_both_rewarded...,/scratch/back_up/reward_competition_extention/...,20230625_112913_standard_comp_to_both_rewarded...,1.4,"[1384, 2770, 2770, 4156, 5542, 6928, 6928, 831...","[[310252, 314054], [1167262, 1196060], [156166...",[],...,65266,65386,both_rewarded,NaN,NaN,both_rewarded,"['1.1', '1.4']",64304011,64504015,both_rewarded
745,20230625_112913_standard_comp_to_both_rewarded...,"[[308, 312], [1165, 1194], [1557, 1571], [1643...",[],20230625_112913_standard_comp_to_both_rewarded...,/scratch/back_up/reward_competition_extention/...,20230625_112913_standard_comp_to_both_rewarded...,1.4,"[1384, 2770, 2770, 4156, 5542, 6928, 6928, 831...","[[310252, 314054], [1167262, 1196060], [156166...",[],...,66764,66883,both_rewarded,NaN,NaN,both_rewarded,"['1.1', '1.4']",65804029,66004033,both_rewarded
746,20230625_112913_standard_comp_to_both_rewarded...,"[[308, 312], [1165, 1194], [1557, 1571], [1643...",[],20230625_112913_standard_comp_to_both_rewarded...,/scratch/back_up/reward_competition_extention/...,20230625_112913_standard_comp_to_both_rewarded...,1.4,"[1384, 2770, 2770, 4156, 5542, 6928, 6928, 831...","[[310252, 314054], [1167262, 1196060], [156166...",[],...,68760,68879,both_rewarded,NaN,NaN,both_rewarded,"['1.1', '1.4']",67804057,68004058,both_rewarded
747,20230625_112913_standard_comp_to_both_rewarded...,"[[308, 312], [1165, 1194], [1557, 1571], [1643...",[],20230625_112913_standard_comp_to_both_rewarded...,/scratch/back_up/reward_competition_extention/...,20230625_112913_standard_comp_to_both_rewarded...,1.4,"[1384, 2770, 2770, 4156, 5542, 6928, 6928, 831...","[[310252, 314054], [1167262, 1196060], [156166...",[],...,70656,70775,both_rewarded,NaN,NaN,both_rewarded,"['1.1', '1.4']",69704075,69904080,both_rewarded
748,20230625_112913_standard_comp_to_both_rewarded...,"[[308, 312], [1165, 1194], [1557, 1571], [1643...",[],20230625_112913_standard_comp_to_both_rewarded...,/scratch/back_up/reward_competition_extention/...,20230625_112913_standard_comp_to_both_rewarded...,1.4,"[1384, 2770, 2770, 4156, 5542, 6928, 6928, 831...","[[310252, 314054], [1167262, 1196060], [156166...",[],...,71654,71774,both_rewarded,NaN,NaN,both_rewarded,"['1.1', '1.4']",70704093,70904092,both_rewarded

In [36]:
final_trials_df["tone_timestamps"] = final_trials_df.apply(lambda x: [x["tone_start_timestamp"], x["tone_stop_timestamp"]], axis=1)

In [37]:
final_trials_df["tone_frames"] = final_trials_df.apply(lambda x: [x["tone_start_frame"], x["tone_stop_frame"]], axis=1)

In [38]:
final_trials_df = final_trials_df.drop(columns=["tone_start_timestamp", "tone_stop_timestamp", "condition", "tone_start_frame", "tone_stop_frame", "tracked_subject", "reward_start_frame", "notes"], errors="ignore")

In [39]:
grouping_columns = ["session_dir", "current_subject", "trial_label", "experiment"]

In [40]:
non_grouping_columns = set(final_trials_df.columns) - set(grouping_columns)

In [41]:
final_trials_df["tone_timestamps"].iloc[0]

[1126742, 1326741]

In [42]:
grouped_finals_trials_df = final_trials_df.groupby(grouping_columns).agg({
    col: (lambda col: list(col)) if col in ['tone_timestamps', 'tone_frames'] else 'first' for col in non_grouping_columns}).reset_index()

In [43]:
grouped_finals_trials_df["tone_frames"] = grouped_finals_trials_df["tone_frames"].apply(lambda x: np.array(x))
grouped_finals_trials_df["tone_timestamps"] = grouped_finals_trials_df["tone_timestamps"].apply(lambda x: np.array(x))

In [44]:
grouped_finals_trials_df = grouped_finals_trials_df.drop(columns=["competition_closeness"], errors="ignore")

In [45]:
grouped_finals_trials_df.head()

,session_dir,current_subject,trial_label,experiment,all_subjects,box_1_port_entry_timestamps,sleap_name,video_timestamps,box_2_port_entry_frames,video_name,box_1_port_entry_frames,tone_timestamps,recording,box_2_port_entry_timestamps,tone_frames,session_path
0,20230612_112630_standard_comp_to_training_D1_s...,1.1,lose,standard,"['1.1', '1.2']","[[192745, 249350], [389747, 407142], [917544, ...",20230612_112630_standard_comp_to_training_D1_s...,"[1384, 2444, 2769, 4155, 5541, 6708, 6927, 831...","[[33019, 33020], [33246, 33251], [33253, 33255...",20230612_112630_standard_comp_to_training_D1_s...,"[[192, 248], [389, 405], [916, 929], [929, 948...","[[3526740, 3726740], [5826740, 6026737], [7626...",20230612_112630_standard_comp_to_training_D1_s...,"[[33037711, 33038706], [33264908, 33270313], [...","[[3519, 3720], [5815, 6014], [7612, 7811], [87...",/scratch/back_up/reward_competition_extention/...
1,20230612_112630_standard_comp_to_training_D1_s...,1.1,rewarded,standard,"['1.1', '1.2']","[[192745, 249350], [389747, 407142], [917544, ...",20230612_112630_standard_comp_to_training_D1_s...,"[1384, 2531, 2769, 4155, 5541, 6799, 6927, 831...","[[32974, 32976], [33201, 33207], [33208, 33211...",20230612_112630_standard_comp_to_training_D1_s...,"[[192, 248], [389, 405], [916, 930], [930, 948...","[[37126704, 37326704], [38326703, 38526703], [...",20230612_112630_standard_comp_to_training_D1_s...,"[[33037711, 33038706], [33264908, 33270313], [...","[[37056, 37256], [38254, 38453], [39352, 39552...",/scratch/back_up/reward_competition_extention/...
2,20230612_112630_standard_comp_to_training_D1_s...,1.1,win,standard,"['1.1', '1.2']","[[192745, 249350], [389747, 407142], [917544, ...",20230612_112630_standard_comp_to_training_D1_s...,"[1384, 2444, 2769, 4155, 5541, 6708, 6927, 831...","[[33019, 33020], [33246, 33251], [33253, 33255...",20230612_112630_standard_comp_to_training_D1_s...,"[[192, 248], [389, 405], [916, 929], [929, 948...","[[1126742, 1326741], [22826720, 23026720], [24...",20230612_112630_standard_comp_to_training_D1_s...,"[[33037711, 33038706], [33264908, 33270313], [...","[[1125, 1324], [22784, 22983], [24680, 24879],...",/scratch/back_up/reward_competition_extention/...
3,20230612_112630_standard_comp_to_training_D1_s...,1.2,lose,standard,"['1.1', '1.2']","[[192745, 249350], [389747, 407142], [917544, ...",20230612_112630_standard_comp_to_training_D1_s...,"[1384, 2444, 2769, 4155, 5541, 6708, 6927, 831...","[[33019, 33020], [33246, 33251], [33253, 33255...",20230612_112630_standard_comp_to_training_D1_s...,"[[192, 248], [389, 405], [916, 929], [929, 948...","[[1126742, 1326741], [22826720, 23026720], [24...",20230612_112630_standard_comp_to_training_D1_s...,"[[33037711, 33038706], [33264908, 33270313], [...","[[1125, 1324], [22784, 22983], [24680, 24879],...",/scratch/back_up/reward_competition_extention/...
4,20230612_112630_standard_comp_to_training_D1_s...,1.2,rewarded,standard,"['1.1', '1.2']","[[192745, 249350], [389747, 407142], [917544, ...",20230612_112630_standard_comp_to_training_D1_s...,"[1384, 2444, 2769, 4155, 5541, 6708, 6927, 831...","[[33019, 33020], [33246, 33251], [33253, 33255...",20230612_112630_standard_comp_to_training_D1_s...,"[[192, 248], [389, 405], [916, 929], [929, 948...","[[37126704, 37326704], [38326703, 38526703], [...",20230612_112630_standard_comp_to_training_D1_s...,"[[33037711, 33038706], [33264908, 33270313], [...","[[37101, 37300], [38299, 38498], [39397, 39597...",/scratch/back_up/reward_competition_extention/...

In [46]:
grouped_finals_trials_df["trial_label"].unique()

array(['lose', 'rewarded', 'win', 'omission', 'both_rewarded'],
      dtype=object)

In [47]:
dict_from_df = {k1: {k2: v for k2, v in zip(df['trial_label'], df['tone_timestamps'])} for k1, df in grouped_finals_trials_df.groupby('recording')}

In [48]:
dict_from_df

{'20230612_112630_standard_comp_to_training_D1_subj_1-1_t1b3L_box2_merged': {'lose': array([[ 3526740,  3726740],
         [ 5826740,  6026737],
         [ 7626736,  7826735],
         [ 8726734,  8926734],
         [ 9726733,  9926733],
         [11626731, 11826731],
         [13126730, 13326730],
         [15226727, 15426727],
         [16226732, 16426727],
         [17826723, 18026722],
         [19126726, 19326724],
         [20426722, 20626722],
         [21426721, 21626721]]),
  'rewarded': array([[37126704, 37326704],
         [38326703, 38526703],
         [39426702, 39626701],
         [40726701, 40926700],
         [41826697, 42026699],
         [42826698, 43026698],
         [43826697, 44026696],
         [45926695, 46126695],
         [48326695, 48526692],
         [50726690, 50926689],
         [52926690, 53126689],
         [54626685, 54826682],
         [57026683, 57226682],
         [58226681, 58426681],
         [59526680, 59726679],
         [60726678, 60926678],
         [62226677, 62426677],
         [64226677, 64426675],
         [66126673, 66326672],
         [67126672, 67326672]]),
  'win': array([[ 1126742,  1326741],
         [22826720, 23026720],
         [24726718, 24926717],
         [26326716, 26526718],
         [27726715, 27926714],
         [29926712, 30126712],
         [31126711, 31326711]])},
 '20230612_112630_standard_comp_to_training_D1_subj_1-2_t2b2L_box1_merged': {'lose': array([[ 1126742,  1326741],
         [22826720, 23026720],
         [24726718, 24926717],
         [26326716, 26526718],
         [27726715, 27926714],
         [29926712, 30126712],
         [31126711, 31326711]]),
  'rewarded': array([[37126704, 37326704],
         [38326703, 38526703],
         [39426702, 39626701],
         [40726701, 40926700],
         [41826697, 42026699],
         [42826698, 43026698],
         [43826697, 44026696],
         [45926695, 46126695],
         [48326695, 48526692],
         [50726690, 50926689],
         [52926690, 53126689],
         [54626685, 54826682],
         [57026683, 57226682],
         [58226681, 58426681],
         [59526680, 59726679],
         [60726678, 60926678],
         [62226677, 62426677],
         [64226677, 64426675],
         [66126673, 66326672],
         [67126672, 67326672]]),
  'win': array([[ 3526740,  3726740],
         [ 5826740,  6026737],
         [ 7626736,  7826735],
         [ 8726734,  8926734],
         [ 9726733,  9926733],
         [11626731, 11826731],
         [13126730, 13326730],
         [15226727, 15426727],
         [16226732, 16426727],
         [17826723, 18026722],
         [19126726, 19326724],
         [20426722, 20626722],
         [21426721, 21626721]])},
 '20230613_105657_standard_comp_to_training_D2_subj_1-1_t1b2L_box1_merged': {'lose': array([[ 918755, 1118758]]),
  'rewarded': array([[36918731, 37118731],
         [38118733, 38318733],
         [39218732, 39418732],
         [40518731, 40718731],
         [41618728, 41818730],
         [42618730, 42818729],
         [43618726, 43818729],
         [45718740, 45918727],
         [48118723, 48318726],
         [50518725, 50718725],
         [52718721, 52918723],
         [54418722, 54618740],
         [56818721, 57018720],
         [58018720, 58218717],
         [59318719, 59518719],
         [60518716, 60718718],
         [62018715, 62218717],
         [64018716, 64218716],
         [65918715, 66118712],
         [66918714, 67118711]]),
  'win': array([[ 3318755,  3518757],
         [ 5618754,  5818753],
         [ 7418755,  7618752],
         [ 8518752,  8718757],
         [ 9518759,  9718749],
         [11418751, 11618755],
         [12918749, 13118749],
         [15018749, 15218753],
         [16018748, 16218748],
         [17618747, 17818749],
         [18918746, 19118745],
         [20218745, 20418745],
         [21218749, 21418744],
         [22618748, 22818741],
         [24518747, 24718742],
         [26118744, 26318741],
         [27518740, 27718745],
         [29718744, 29918738],
         [30918740, 31118737]])},
 '20230613_105657_standard_comp_to_training_D2_subj_1-4_t4b3L_box2_merged': {'lose': array([[ 3318755,  3518757],
         [ 5618754,  5818753],
         [ 7418755,  7618752],
         [ 8518752,  8718757],
         [ 9518759,  9718749],
         [11418751, 11618755],
         [12918749, 13118749],
         [15018749, 15218753],
         [16018748, 16218748],
         [17618747, 17818749],
         [18918746, 19118745],
         [20218745, 20418745],
         [21218749, 21418744],
         [22618748, 22818741],
         [24518747, 24718742],
         [26118744, 26318741],
         [27518740, 27718745],
         [29718744, 29918738],
         [30918740, 31118737]]),
  'rewarded': array([[36918731, 37118731],
         [38118733, 38318733],
         [39218732, 39418732],
         [40518731, 40718731],
         [41618728, 41818730],
         [42618730, 42818729],
         [43618726, 43818729],
         [45718740, 45918727],
         [48118723, 48318726],
         [50518725, 50718725],
         [52718721, 52918723],
         [54418722, 54618740],
         [56818721, 57018720],
         [58018720, 58218717],
         [59318719, 59518719],
         [60518716, 60718718],
         [62018715, 62218717],
         [64018716, 64218716],
         [65918715, 66118712],
         [66918714, 67118711]]),
  'win': array([[ 918755, 1118758]])},
 '20230614_114041_standard_comp_to_training_D3_subj_1-1_t1b3L_box1_merged': {'lose': array([[  856955,  1056957],
         [ 3256958,  3456953],
         [ 8456953,  8656953],
         [15956949, 16156948],
         [17556948, 17756945],
         [18856945, 19056945]]),
  'rewarded': array([[36856939, 37056939],
         [38056939, 38256936],
         [39156938, 39356939],
         [40456938, 40656938],
         [41556937, 41756935],
         [42556935, 42756937],
         [43556934, 43756934],
         [45656936, 45856933],
         [48056935, 48256945],
         [50456934, 50656934],
         [52656930, 52856931],
         [54356932, 54556929],
         [56756932, 56956929],
         [57956928, 58156931],
         [59256931, 59456930],
         [60456928, 60656929],
         [61956929, 62156926],
         [63956928, 64156928],
         [65856928, 66056925]]),
  'win': array([[ 5556954,  5756952],
         [ 7356953,  7556953],
         [ 9456952,  9656957],
         [11356951, 11556948],
         [12856950, 13056950],
         [14956947, 15156949],
         [20156946, 20356944],
         [21156946, 21356949],
         [22556946, 22756943],
         [24456942, 24656949],
         [26056941, 26256941],
         [27456944, 27656943],
         [29656940, 29856939],
         [30856939, 31056939]])},
 '20230614_114041_standard_comp_to_training_D3_subj_1-2_t2b2L_box2_merged': {'lose': array([[ 5556954,  5756952],
         [ 7356953,  7556953],
         [ 9456952,  9656957],
         [11356951, 11556948],
         [12856950, 13056950],
         [14956947, 15156949],
         [20156946, 20356944],
         [21156946, 21356949],
         [22556946, 22756943],
         [24456942, 24656949],
         [26056941, 26256941],
         [27456944, 27656943],
         [29656940, 29856939],
         [30856939, 31056939]]),
  'rewarded': array([[36856939, 37056939],
         [38056939, 38256936],
         [39156938, 39356939],
         [40456938, 40656938],
         [41556937, 41756935],
         [42556935, 42756937],
         [43556934, 43756934],
         [45656936, 45856933],
         [48056935, 48256945],
         [50456934, 50656934],
         [52656930, 52856931],
         [54356932, 54556929],
         [56756932, 56956929],
         [57956928, 58156931],
         [59256931, 59456930],
         [60456928, 60656929],
         [61956929, 62156926],
         [63956928, 64156928],
         [65856928, 66056925]]),
  'win': array([[  856955,  1056957],
         [ 3256958,  3456953],
         [ 8456953,  8656953],
         [15956949, 16156948],
         [17556948, 17756945],
         [18856945, 19056945]])},
 '20230616_111904_standard_comp_to_training_D4_subj_1-2_t2b2L_box2_merged': {'lose': array([[ 4788011,  4988008],
         [ 7688008,  7888006],
         [12088006, 12288005],
         [14188004, 14388001],
         [16788000, 16988000],
         [20387998, 20587997]]),
  'rewarded': array([[37287990, 37487987],
         [38387987, 38587987],
         [39687989, 39887988],
         [40787988, 40987988],
         [41787987, 41987990],
         [42787987, 42987986],
         [44887985, 45087985],
         [47287982, 47487982],
         [49687986, 49887983],
         [51887981, 52087981],
         [53587978, 53787978],
         [55987977, 56187977],
         [57187977, 57387981],
         [58487978, 58687978],
         [59687978, 59887975],
         [61187977, 61387974],
         [63187976, 63387973],
         [65087975, 65287972],
         [66087972, 66287972]]),
  'win': array([[   88015,   288015],
         [ 2488011,  2688012],
         [ 6588007,  6788007],
         [ 8688005,  8888008],
         [10588007, 10788004],
         [15188001, 15388001],
         [18088002, 18287999],
         [19388001, 19587998],
         [21788000, 21987999],
         [23687995, 23888003],
         [25287997, 25487997],
         [26687994, 26887996],
         [28887995, 29087992],
         [30087992, 30287992]])},
 '20230616_111904_standard_comp_to_training_D4_subj_1-4_t4b3L_box1_merged': {'lose': array([[   88015,   288015],
         [ 2488011,  2688012],
         [ 6588007,  6788007],
         [ 8688005,  8888008],
         [10588007, 10788004],
         [15188001, 15388001],
         [18088002, 18287999],
         [19388001, 19587998],
         [21788000, 21987999],
         [23687995, 23888003],
         [25287997, 25487997],
         [26687994, 26887996],
         [28887995, 29087992],
         [30087992, 30287992]]),
  'rewarded': array([[36087996, 36287988],
         [37287990, 37487987],
         [38387987, 38587987],
         [39687989, 39887988],
         [40787988, 40987988],
         [41787987, 41987990],
         [42787987, 42987986],
         [44887985, 45087985],
         [47287982, 47487982],
         [49687986, 49887983],
         [51887981, 52087981],
         [53587978, 53787978],
         [55987977, 56187977],
         [57187977, 57387981],
         [58487978, 58687978],
         [59687978, 59887975],
         [61187977, 61387974],
         [63187976, 63387973],
         [65087975, 65287972],
         [66087972, 66287972]]),
  'win': array([[ 4788011,  4988008],
         [ 7688008,  7888006],
         [12088006, 12288005],
         [14188004, 14388001],
         [16788000, 16988000],
         [20387998, 20587997]])},
 '20230617_115521_standard_comp_to_omission_D1_subj_1-1_t1b3L_box1_merged': {'lose': array([[1030879, 1230878],
         [7530877, 7730877]]),
  'win': array([[ 3430878,  3630878],
         [ 5730880,  5930880],
         [ 8630880,  8830879],
         [ 9630879,  9830879],
         [11530876, 11730879],
         [13030876, 13230878],
         [15130878, 15330878],
         [16130878, 16330875],
         [17730875, 17930875],
         [19030875, 19230875],
         [20330877, 20530875],
         [21330874, 21530875],
         [22730874, 22930874],
         [24630874, 24830876],
         [32580474, 32780475],
         [34180472, 34380472],
         [35580474, 35780471],
         [37780473, 37980473],
         [38980473, 39180470]])},
 '20230617_115521_standard_comp_to_omission_D1_subj_1-2_t2b2L_box2_merged': {'lose': array([[ 3430878,  3630878],
         [ 5730880,  5930880],
         [ 8630880,  8830879],
         [ 9630879,  9830879],
         [11530876, 11730879],
         [13030876, 13230878],
         [15130878, 15330878],
         [16130878, 16330875],
         [17730875, 17930875],
         [19030875, 19230875],
         [20330877, 20530875],
         [21330874, 21530875],
         [22730874, 22930874],
         [24630874, 24830876],
         [32580474, 32780475],
         [34180472, 34380472],
         [35580474, 35780471],
         [37780473, 37980473],
         [38980473, 39180470]]),
  'win': array([[1030879, 1230878],
         [7530877, 7730877]])},
 '20230618_100636_standard_comp_to_omission_D2_subj_1_1_t1b2L_box2_merged': {'lose': array([[ 1099250,  1299250],
         [ 7599250,  7799247],
         [ 9699249,  9899246],
         [11599246, 11799245],
         [13099245, 13299245],
         [31099238, 31299238]]),
  'omission': array([[45899234, 46099236],
         [58199232, 58399229],
         [64199227, 64399227]]),
  'rewarded': array([[37099239, 37299239],
         [38299236, 38499236],
         [39399236, 39599235],
         [40699238, 40899235],
         [41799238, 41999237],
         [42799235, 42999237],
         [43799237, 43999234],
         [48299235, 48499233],
         [50699232, 50899234],
         [52899234, 53099231],
         [54599233, 54799231],
         [56999232, 57199232],
         [59499229, 59699229],
         [60699231, 60899231],
         [62199231, 62399228]]),
  'win': array([[ 3499256,  3699252],
         [ 5799251,  5999248],
         [ 8699250,  8899247],
         [15199244, 15399246],
         [16199246, 16399246],
         [17799245, 17999243],
         [19099245, 19299244],
         [20399242, 20599244],
         [21399244, 21599244],
         [22799243, 22999243],
         [24699243, 24899240],
         [26299240, 26499242],
         [27699242, 27899239],
         [29899241, 30099238]])},
 '20230618_100636_standard_comp_to_omission_D2_subj_1_4_t4b3L_box1_merged': {'lose': array([[ 3499256,  3699252],
         [ 5799251,  5999248],
         [ 8699250,  8899247],
         [15199244, 15399246],
         [16199246, 16399246],
         [17799245, 17999243],
         [19099245, 19299244],
         [20399242, 20599244],
         [21399244, 21599244],
         [22799243, 22999243],
         [24699243, 24899240],
         [26299240, 26499242],
         [27699242, 27899239],
         [29899241, 30099238]]),
  'omission': array([[45899234, 46099236],
         [58199232, 58399229],
         [64199227, 64399227]]),
  'rewarded': array([[37099239, 37299239],
         [38299236, 38499236],
         [39399236, 39599235],
         [40699238, 40899235],
         [41799238, 41999237],
         [42799235, 42999237],
         [43799237, 43999234],
         [48299235, 48499233],
         [50699232, 50899234],
         [52899234, 53099231],
         [54599233, 54799231],
         [56999232, 57199232],
         [59499229, 59699229],
         [60699231, 60899231],
         [62199231, 62399228]]),
  'win': array([[ 1099250,  1299250],
         [ 7599250,  7799247],
         [ 9699249,  9899246],
         [11599246, 11799245],
         [13099245, 13299245],
         [31099238, 31299238]])},
 '20230620_114347_standard_comp_to_omission_D4_subj_1-1_t1b2L_box_2_merged': {'lose': array([[ 5757314,  5957316],
         [13057403, 13257406],
         [17757464, 17957463],
         [29857611, 30057613]]),
  'omission': array([[39357731, 39557731],
         [48257839, 48457842],
         [58157965, 58357967],
         [64158037, 64358039]]),
  'rewarded': array([[37057700, 37257702],
         [38257717, 38457717],
         [40657750, 40857748],
         [41757758, 41957761],
         [42757774, 42957773],
         [43757783, 43957788],
         [45857810, 46057815],
         [50657872, 50857874],
         [52857897, 53057899],
         [54557918, 54757920],
         [56957950, 57157950],
         [59457978, 59657981],
         [60657993, 60857996],
         [62158012, 62358014],
         [66058063, 66258068],
         [67058073, 67258075]]),
  'win': array([[ 7557336,  7757340],
         [ 8657352,  8857357],
         [ 9657364,  9857364],
         [11557385, 11757387],
         [15157432, 15357432],
         [16157442, 16357446],
         [19057477, 19257482],
         [20357499, 20557498],
         [21357506, 21557508],
         [24657546, 24857549],
         [26257566, 26457568],
         [27657586, 27857586],
         [31057628, 31257628]])},
 '20230620_114347_standard_comp_to_omission_D4_subj_1-2_t3b3L_box_1_merged': {'lose': array([[ 7557336,  7757340],
         [ 8657352,  8857357],
         [ 9657364,  9857364],
         [11557385, 11757387],
         [15157432, 15357432],
         [16157442, 16357446],
         [19057477, 19257482],
         [20357499, 20557498],
         [21357506, 21557508],
         [24657546, 24857549],
         [26257566, 26457568],
         [27657586, 27857586],
         [31057628, 31257628]]),
  'omission': array([[39357731, 39557731],
         [48257839, 48457842],
         [58157965, 58357967],
         [64158037, 64358039]]),
  'rewarded': array([[37057700, 37257702],
         [38257717, 38457717],
         [40657750, 40857748],
         [41757758, 41957761],
         [42757774, 42957773],
         [43757783, 43957788],
         [45857810, 46057815],
         [50657872, 50857874],
         [52857897, 53057899],
         [54557918, 54757920],
         [56957950, 57157950],
         [59457978, 59657981],
         [60657993, 60857996],
         [62158012, 62358014],
         [66058063, 66258068],
         [67058073, 67258075]]),
  'win': array([[ 5757314,  5957316],
         [13057403, 13257406],
         [17757464, 17957463],
         [29857611, 30057613]])},
 '20230621_111240_standard_comp_to_omission_D5_subj_1-4_t3b3L_box1_merged': {'lose': array([[ 4888097,  5088100],
         [ 7188129,  7388133],
         [ 8988148,  9188153],
         [10088165, 10288164],
         [11088174, 11288179],
         [12988197, 13188202],
         [14488216, 14688218],
         [16588241, 16788244],
         [17588256, 17788258],
         [19188275, 19388278],
         [21788307, 21988309],
         [22788319, 22988319],
         [24188334, 24388338],
         [26088357, 26288361],
         [27688381, 27888378],
         [29088396, 29288398],
         [31288420, 31488422],
         [32488435, 32688437]]),
  'omission': array([[39688527, 39888524],
         [49688646, 49888646],
         [55988720, 56188725],
         [67488865, 67688862]]),
  'rewarded': array([[38488510, 38688512],
         [40788535, 40988538],
         [42088553, 42288553],
         [43188564, 43388567],
         [44188576, 44388581],
         [45188591, 45388591],
         [47288614, 47488617],
         [52088672, 52288677],
         [54288699, 54488701],
         [58388754, 58588754],
         [59588763, 59788769],
         [60888780, 61088787],
         [62088794, 62288799],
         [63588812, 63788814],
         [65588836, 65788839],
         [68488874, 68688879]]),
  'win': array([[ 2488068,  2688073],
         [20488289, 20688291]])},
 '20230622_110832_standard_comp_to_both_rewarded_D1_subj_1-1_t1b3L_box1_merged': {'both_rewarded': array([[40731697, 40931696],
         [41931710, 42131712],
         [43031723, 43231726],
         [44331740, 44531742],
         [45431754, 45631757],
         [46431767, 46631769],
         [47431782, 47631782],
         [49531806, 49731811],
         [51931837, 52131842],
         [54331870, 54531870],
         [56531895, 56731900],
         [58231917, 58431925],
         [60631948, 60831953],
         [61831963, 62031966],
         [63131980, 63331982],
         [64331998, 64532000],
         [65832017, 66032022],
         [67832040, 68032042],
         [69732064, 69932067],
         [70732077, 70932082]]),
  'lose': array([[ 1131200,  1331202],
         [ 3531230,  3731233],
         [ 5831259,  6031261],
         [ 7631284,  7831284],
         [ 8731295,  8931297],
         [ 9731308,  9931310],
         [11631332, 11831339],
         [13131350, 13331353],
         [15231376, 15431378],
         [16231391, 16431391],
         [17831408, 18031411],
         [19131424, 19331427],
         [20431441, 20631443],
         [21431453, 21631455],
         [22831473, 23031475],
         [24731497, 24931497],
         [26331516, 26531519],
         [27731532, 27931534],

In [49]:
import pickle

In [50]:
            
with open('recording_to_label_to_timestamps.pkl', 'wb') as f:
    pickle.dump(dict_from_df, f)

In [51]:
merged_df.to_pickle("rce2_finalized_trial_labels.pkl")

In [52]:
grouped_finals_trials_df.to_pickle("rce2_grouped_finalized_trial_labels.pkl")